<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title style="text-align: center;">Invoice Report</title>
</head>

<body>
    <div
        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 14px; background-color: #f9f9f9; padding: 30px;">
        <div
            style="max-width: 600px; margin: auto; background: #ffffff; border-radius: 8px; padding: 30px; box-shadow: 0 0 10px rgba(0,0,0,0.05);">
            <h2 style="color: #2c3e50;">Invoice Report</h2>
            <p>Hello <strong>Paul</strong>,</p>
            <p>We hope this message finds you well.</p>
            <p>Please find the attached invoice report as required from Dates {{formattedFromDate}} to {{formattedToDate}}</p>
            <br />
            <p>Sincerely,<br />
                <strong>The Invoice Generating System</strong><br />
            </p>
        </div>
    </div>
</body>

</html>